{% extends "base.html" %}

{% block title %}Start Menu{% endblock %}

{% block en_tete %}Start Menu{% endblock %}

{% block content %}
<form action=# method="post">
	<p> <label for="new_player_name">Player name:</label></p>
	<p> <input type="text" id="new_player_name" name= "new_player_name" /></p>
	<p> <label for="new_player_role">Role (1=Leader, 2=Guesser):</label></p>
	<p> <input type="number" id="new_player_role" name= "new_player_role" /></p>
	<p> <label for="new_player_color">Color (RED or BLUE):</label></p>
	<p> <input type="text" id="new_player_color" name= "new_player_color" /></p>
	<p> <input type="submit" value="submit" /></p>
</form>

{% endblock %}