{% extends "base.html" %}

{% block title %}Page administrateur{% endblock %}

{% block en_tete %}Page administrateur{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for msg in messages %}
			<p class="fondRedTextWhite"> {{msg}}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

<!-- Affichage des parties actives -->
	<p class="proposition">List of active games:</p>
	{% if list_games|length >0 %}
		{% for id in list_games %}
			<div class="fondmarronstartmenu">
				<form action="" method="post"><p> - Game N°{{id}} / Number of players : {{list_games[id].number_of_players}}<span><input type="submit" value="Delete game {{id}}" name="submit" class="boutonStartMenu"/></span></p></form>
				<p> Players already sign in :
				{% for ply in list_games[id].players.values() %}
					{% if ply.color.name == "BLUE" %}
                        <span class="textblue"> {{ply.name}}, {{ply.role.name}} /</span>
					{% else  %}
						<span class="textred"> {{ply.name}}, {{ply.role.name}} /</span>
					{% endif  %}
                {% endfor  %}
				</p>
			</div>
		{% endfor %}
	{% else %}
		none
	{% endif %}

{% endblock %}