{% extends "base.html" %}

{% block additionnal_head %}

    <title>Administrator's page</title>
    <link rel="stylesheet" type="text/CSS" href="{{url_for('static',filename='stylesheets/start_menu_style.css')}}">

{% endblock %}

{% block body_content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for msg in messages %}
			<p class="fondRedTextWhite"> {{msg}}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

<!-- Affichage des parties actives -->
	<p class="proposition">List of active games:</p>
	{% if list_games|length >0 %}
		{% for id in list_games %}
			<div class="fondGrisV2startmenu">
				<form action="" method="post"><p> - Game N°{{id}} / Number of players : {{list_games[id].number_of_players}}<span><input type="submit" value="Delete game {{id}}" name="submit" class="btn btn-secondary btn-lg"/></span></p></form>
				<p> Players already sign in :
				{% for ply in list_games[id].players.values() %}
					{% if ply.color.name == "BLUE" %}
                        <span class="textblue"> {{ply.name}}, {{ply.role.name}} /</span>
					{% else  %}
						<span class="textred"> {{ply.name}}, {{ply.role.name}} /</span>
					{% endif  %}
                {% endfor  %}
				</p>
			</div>
		{% endfor %}
	{% else %}
		<p class="proposition">none</p>
	{% endif %}

{% endblock %}