{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for msg in messages %}
			<P> {{msg}}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

{% if list_games[session["game_id"]].players[session["ID"]].role == Role.SPY  %}
   <form action=# method="post">
      <p> <label for="propose">Proposition (1 word):</label></p>
      <p> <input type="text" id="propose" name= "word_proposal" /></p>
       <p> <label for="number_of_words-related">Number of worlds related to your proposal:</label></p>
      <p> <input type="text" id="number_of_words-related" name= "number-of-words" /></p>
      <p> <input type="submit" value="Propose" name="submit" /></p>
   </form>
   <p> SPY de l'équipe {{list_games[session["game_id"]].players[session["ID"]].color.name}}</p>
{% else  %}
   <p> GUESSER de l'équipe {{list_games[session["game_id"]].players[session["ID"]].color.name}} </p>
{% endif %}

<body>
    {% if list_games[session["game_id"]].current_team_color == list_games[session["game_id"]].players[session["ID"]].color and list_games[session["game_id"]].current_role == list_games[session["game_id"]].players[session["ID"]].role %}
        <p> C'est à votre tour</p>
    {% endif  %}

    {% if list_games[session["game_id"]].current_team_color == Color.BLUE  %}
        {% if list_games[session["game_id"]].current_role == Role.SPY  %}
        <p style="color:blue;">C'est le tour de l'équipe bleue et le leader doit faire une proposition</p>
        {% else  %}
        <p style="color:blue;">les chercheurs de l'équipe bleu doivent valider un mot</p>
        {% endif  %}
    {% else  %}
        {% if list_games[session["game_id"]].current_role == Role.SPY  %}
        <p style="color:red;">C'est le tour de l'équipe rouge et le leader doit faire une proposition</p>
        {% else  %}
        <p style="color:red;">les chercheurs de l'équipe rouge doivent valider un mot</p>
        {% endif  %}
    {% endif  %}
</body>

<body>
    {% if list_games[session["game_id"]].players[session["ID"]].color == Color.BLUE  %}
        <p style="color:blue;">Il vous reste {{list_games[session["game_id"]].blue_guesses_left}} mot(s) à trouver. Il reste {{list_games[session["game_id"]].red_guesses_left}} mot(s) à l'équipe rouge. Vous avez {{list_games[session["game_id"]]}} proposition(s) bonus </p>
    {% else  %}
        <p style="color:red;">Il vous reste {{list_games[session["game_id"]].red_guesses_left}} mot(s) à trouver. Il reste {{list_games[session["game_id"]].blue_guesses_left}} mot(s) à l'équipe bleu. Vous avez {{list_games[session["game_id"]].red_rest}} proposition(s) bonus </p>
    {% endif  %}
</body>


<!-- AFFICHAGE LEADER -->
{% if list_games[session["game_id"]].players[session["ID"]].role == Role.SPY  %}
    <table border="1" style="text-align: center;" cellpadding="25" cellspacing="10" >
        <tr>
            <td bgcolor="white">Légende</td>
            <td bgcolor="salmon">Rouge pas trouvé</td>
            <td bgcolor="red">Rouge trouvé</td>
            <td bgcolor="cadetBlue">Bleu pas trouvé</td>
            <td bgcolor="Blue">Bleu trouvé</td>
            <td bgcolor="khaki">Neutre pas révélé</td>
            <td bgcolor="yellow">Neutre révélé</td>
            <td bgcolor="black" style="color:white;">Assasin --> défaite</td>
        </tr>
    </table>

    <table border="1" style="text-align: center;" cellpadding="25" cellspacing="10" >
        {% for j in range(0,5)  %}
            <tr>
                {% for i in range(0,5)  %}
                   {% if list_games[session["game_id"]].deck[j*5+i].color == Color.BLUE  %}
                   <td bgcolor="cadetBlue">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                   {% elif list_games[session["game_id"]].deck[j*5+i].color == Color.RED  %}
                   <td bgcolor="salmon">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                   {% elif list_games[session["game_id"]].deck[j*5+i].color == Color.NEUTRAL  %}
                   <td bgcolor="khaki">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                   {% else  %}
                   <td bgcolor="black" style="color:white;">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                   {% endif  %}
                {% endfor  %}
           </tr>
        {% endfor  %}
    </table>

<!-- AFFICHAGE GUESSER -->
{% else %}
    {% if list_games[session["game_id"]].current_team_color == list_games[session["game_id"]].players[session["ID"]].color and list_games[session["game_id"]].current_role == list_games[session["game_id"]].players[session["ID"]].role %}
        <p>votre SPY vous propose le mot {{list_games[session["game_id"]].current_proposal}} en {{list_games[session["game_id"]].current_number_proposal}}. Il vous reste maintenant {{list_games[session["game_id"]].current_number_proposal-list_games[session["game_id"]].current_guesse}} proposition(s) à faire. </p>
    {% endif %}
    <form action=# method="post"><input type="submit" value="passer" name="submit" /></form>

    <table border="1" style="text-align: center;" cellpadding="25" cellspacing="10" >
        <tr>
            <td bgcolor="white">Légende</td>
            <td bgcolor="gray">Mot pas révélé</td>
            <td bgcolor="red">Mot Rouge</td>
            <td bgcolor="Blue">Mot Bleu</td>
            <td bgcolor="yellow">Mot Neutre</td>
            <td bgcolor="black" style="color:white;">Assasin --> défaite</td>
        </tr>
    </table>

    <table border="1" style="text-align: center;" cellpadding="25" cellspacing="10">
        {% for j in range(0,5)  %}
            <tr>
                {% for i in range(0,5)  %}
                    {% if (j*5+i) in list_games[session["game_id"]].guesses %}
                        {% if list_games[session["game_id"]].deck[j*5+i].color == Color.Blue  %}
                        <td bgcolor="Blue">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                        {% elif list_games[session["game_id"]].deck[j*5+i].color == Color.RED  %}
                        <td bgcolor="red">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                        {% elif list_games[session["game_id"]].deck[j*5+i].color == Color.NEUTRAL  %}
                        <td bgcolor="yellow">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                        {% else  %}
                        <td bgcolor="black" style="color:white;">{{list_games[session["game_id"]].deck[j*5+i].text}}</td>
                        {% endif  %}
                    {% else  %}
                    <td bgcolor="grey"><form action=# method="post"><input type="submit" value={{list_games[session["game_id"]].deck[j*5+i].text}} name="submit" /></form></td>
                    {% endif  %}
                {% endfor  %}
           </tr>
       {% endfor  %}
    </table>

{% endif %}
{% endblock %}