{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
<form action=# method="post">
	<p> <label for="guess">guess:</label></p>
	<p> <input type="text" id="guess" name= "make a guess" /></p>
	<p> <input type="submit" value="submit" /></p>
</form>

<table border="1" cellpadding="25" cellspacing="10">
   <tr>
      <td>{{le_deck_de_mots[0].text}}</td>
      <td>{{le_deck_de_mots[1].text}}</td>
      <td>{{le_deck_de_mots[2].text}}</td>
	  <td>{{le_deck_de_mots[3].text}}</td>
	  <td>{{le_deck_de_mots[4].text}}</td>
   </tr>
   <tr>
      <td>{{le_deck_de_mots[5].text}}</td>
      <td>{{le_deck_de_mots[6].text}}</td>
      <td>{{le_deck_de_mots[7].text}}</td>
	  <td>{{le_deck_de_mots[8].text}}</td>
	  <td>{{le_deck_de_mots[9].text}}</td>
   </tr>
   <tr>
      <td>{{le_deck_de_mots[10].text}}</td>
      <td>{{le_deck_de_mots[11].text}}</td>
      <td>{{le_deck_de_mots[12].text}}</td>
	  <td>{{le_deck_de_mots[13].text}}</td>
	  <td>{{le_deck_de_mots[14].text}}</td>
   </tr>
   <tr>
      <td>{{le_deck_de_mots[15].text}}</td>
      <td>{{le_deck_de_mots[16].text}}</td>
      <td>{{le_deck_de_mots[17].text}}</td>
	  <td>{{le_deck_de_mots[18].text}}</td>
	  <td>{{le_deck_de_mots[19].text}}</td>
   </tr>
	<tr>
      <td>{{le_deck_de_mots[20].text}}</td>
      <td>{{le_deck_de_mots[21].text}}</td>
      <td>{{le_deck_de_mots[22].text}}</td>
	  <td>{{le_deck_de_mots[23].text}}</td>
	  <td>{{le_deck_de_mots[24].text}}</td>
   </tr>

</table>

{% endblock %}